//colors
$white: white;
$color_celeste_approx: #ccc;
$color_mariner_approx: #2875c7;
$black: black;
$color_pattens_blue_approx: #e3f2ff;
$silver: #c0c0c0;

body{
    font-family: din, Calibri, Cantarell, sans-serif;
}
body, div{
    margin: 0;
    padding: 0;
}
.hidden{
    display: none;
}
.border-box {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}
.year-selection,.button-wrapper{
    padding: 10px;
    background: #e3f2ff;
}
.year-dropdown{
    padding: 5px;
    width: 30%;
    border: 1px solid #ccc;
    color: #7f7f7f;
    border-radius: 5px;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

.clearfix{
    &:after{
        content:'';
        clear:both;
        display: block;
    }
}

.month {
    display: inline-block;
    vertical-align: top;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
    background: $white;
    width: 45%;
    border: solid 1px $color_celeste_approx;
    margin: 10px 2%;
    font-size: 12px;
    div {
        &.header {
            float: left;
            width: 100%;
            background: $color_mariner_approx;
            height: 40px;
            color: $white;
            text-align: center;
            > * {
                line-height: 40px !important;
                display: inline-block;
                vertical-align: middle;
            }
            
            > span {
                text-transform: uppercase;
                //Instead of the line below you could use @include box-sizing($bs)
                box-sizing: border-box;
                color: inherit;
            }
        }
        &.week {
            float: left;
            width: 100%;
            border-top: solid 1px $color_celeste_approx;
            &:first-child {
                border-top: none;
            }
            > span.day {
                float: left;
                width: 14.28571429%;
                //Instead of the line below you could use @include box-sizing($bs)
                box-sizing: border-box;
                border-left: solid 1px $color_celeste_approx;
                font-size: 0.75em;
                text-align: center;
                height: 20px;
                line-height: 20px !important;
                display: inline-block;
                vertical-align: middle;
                background: $white;
                cursor: pointer;
                color: $black;
                &:first-child {
                    border-left: none;
                }
                &.today {
                    background: $color_pattens_blue_approx;
                }
                &.different-month {
                    color: $silver;
                }
                &.selected {
                    background: $color_mariner_approx;
                    color: $white;
                }
                &.isHoliday{
                    background: $color_mariner_approx;
                    color: $white;   
                }
            }
            &.names > span {
                color: $color_mariner_approx;
                font-weight: bold;
            }
        }
    }
}

#month-detail{
    .month{
        width: 96%;
    }
}
#holiday-detail{
    ul{
        list-style: none;
        padding: 0;
        margin: 10px 0 0 10px;
        li{
            padding: 5px 0;
            background: #eee;
            border-bottom: 1px solid #7f7f7f;
            color: #7f7f7fl;
            .date{
                padding: 0 5px;
                font-weight: 600;
                color: #2875c7;
            }
        }
    }
}
.btn-primary{
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    &:hover{
        background-color: #286090;
        border:1px solid #204d74;
    }
}
.button-wrapper{
    text-align: center;
    button{
        padding: 5px 8px;
        border-radius: 5px;
        font-weight: bold;
    }

    .year-label{
        font-weight: bold;
        color: $color_mariner_approx;
        line-height: 25px;
        font-size: 20px
    }

    .navigation{
        .prev{
            margin-right: 5px;
        }
    }
}